body {
  margin: auto;
  text-align: center;
  font-family: monospace;

}
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.top-box {
  background-color: #EAF6F6;
}


.bottom-cloud {
  position:absolute;
  left: 250px;
  bottom: 300px;
}

h2 {
  line-height: 0.5;
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

h1 {
  color: #66BFBF;
  font-family: monospace;
  font-style: normal;
  font-size: 5.6rem;
}

.nana {
  margin-top: 50px;
  width: 200px;
}

.float2 {

  float: right;
  width: 100px;
}

.float1 {
  margin-right: 50px;
  width: 200px;
  float: left;
}

.top-cloud {
  margin-left: 300px;
  margin-top: 50px;
}

.mounnt {
  position: relative;
  margin-top: 100px;
  width: 30%;
}
.bottom-container{
  background-color: #66BFBF;
}
.footer-link{
  line-height: 50px;
  padding: 0 18px;
}

.reduce1{
  width: 5%;
  border-style: dotted none none none;
  border-width: thick;
  border-color: #D8E3E7;
  margin-top: 50px;
  margin-bottom: 50px;
}
.reduce2{
  width: 5%;
  border-style: dotted none none none;
  border-width: thick;
  border-color: #D8E3E7;
}
.amm{
  width: 500px;
margin: auto;
margin-bottom: 50px;
}
.contact-me{
  padding-top: 50px;
  margin-bottom: 50px;
}
.btn {
  background: #EAF6F6;
  background-image: -webkit-linear-gradient(top, #EAF6F6, D8E3E7);
  background-image: -moz-linear-gradient(top, #EAF6F6, D8E3E7);
  background-image: -ms-linear-gradient(top, #EAF6F6, D8E3E7);
  background-image: -o-linear-gradient(top, #EAF6F6, D8E3E7);
  background-image: linear-gradient(to bottom, #EAF6F6, D8E3E7);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #48786a;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #e6f2f2;
  background-image: -webkit-linear-gradient(top, #e6f2f2, #c7e8d9);
  background-image: -moz-linear-gradient(top, #e6f2f2, #c7e8d9);
  background-image: -ms-linear-gradient(top, #e6f2f2, #c7e8d9);
  background-image: -o-linear-gradient(top, #e6f2f2, #c7e8d9);
  background-image: linear-gradient(to bottom, #e6f2f2, #c7e8d9);
  text-decoration: none;
}
